{% extends 'ecom/homebase.html' %}
{% block title %} Confirm {% endblock %}
{% block css %}

    body,
html {
  height: 100%;

}
#makepayment{
    padding: 100px 0;
    position:relative;
}

{% endblock %}
{%block body%}
{% load widget_tweaks %}
{% load static %}
<div id="makepayment">
<div  class="d-flex flex-column justify-content-center align-items-center bg-white my-3 mx-auto px-2 py-5 w-50 shadow-lg">
    <h3>Confirmation</h3>
    <p>Please confirm you transaction. Thank you</p>
    <p>Total Price : <b>{{ total }}</b></p>
        <script src="https://js.paystack.co/v1/inline.js"></script>
        <button class="btn btn-primary" onclick="payWithPaystack()" id="django-paystack-button">Pay</button>
</div>
</div>
{%endblock body%}
{% block js %}
function payWithPaystack(){
    let currency = 'ZAR';
    let plan = '';
    let ref = "{{ payment.ref }}"
    let obj = {
        key: "{{ paystack_public_key }}",
        email: '{{ payment.email }}',
        amount: '{{ payment.amount_value }}',
        ref : ref,
        callback: function(response){
            window.location.href = "{% url 'verify_payment' payment.ref %}";
        }

    }
    


    if(Boolean(currency)){
        obj.currency = currency.toUpperCase()
    }
    if(Boolean(plan)){
        obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe();
}
{% endblock %}